h1 {
  text-decoration: underline;
  text-align: center;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: monospace;
}

label {
  font-weight: bold;
}

.container {
  background-color: white;
  border-radius: 30px;
  border-width: 5px;
  border-color: black;
}

p {
  margin-left: 6px;
}

.image-result-container {
  align-items: center;
}

.slide-this {
    width: 50px;
}

.slide-border{
    border: solid 1px grey;
    padding: 5px;
    width: 315px;
    border-radius: 30px;
    margin-bottom: 3px;
}
